

    input[type="text"]::placeholder {  
                  
                /* Firefox, Chrome, Opera */ 
                text-align: center; 
            } 
    .table {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}


input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
} 
 input[type=text]:focus {
   width:100%;
 }

  #submit{
      padding-top: 10ch;
    }
    body{

background-color:rgb(247, 240, 240);
}
  
  